.torrent_content{
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: 30px 20px;
    line-height: 40px;
    text-align: left;
    font-size: 18px;
}

.img_item {
    float: left;
}
@media (max-width: 500px) {
    .img_item{
        width: 50%;
    }
}
@media (min-width: 501px) {
    .img_item{
        width: 25%;
    }
}
.img_item{
    padding: 2px;
}





