:root {
	--bg: #242425;
	--bg-2: #303031;
	--bg-3: #454546;
	--bg-4: #4a4b4d;
	--bg-5: #4a4b4d;
	--tt: #eee;
	--tt-2: #999;
	--bdc: #111;
	--bsh: 0 0 4px rgba(0, 0, 0, 0.5);
	--gradient: linear-gradient(to right, #eb4d4b, #c471ed);
	--accent: #22a6b3;
	--accent-darker: #1c8f99;
	--ui-bg: #242425;
	--ui-bg-darker: #303031;
	--ui-bg-darkest: #454546;
	--ui-bg-accent: #22a6b3;
	--ui-text-color-on-accent: #fff;
	--ui-bdc: #111;
	--indent-negative: -30px;
	--indent: 30px;
	--maximum-width: 1200px
}
* {
	background: 0 0;
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;
	box-sizing: border-box
}
ol,
ul {
	list-style: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
img,
table,
iframe,
video,
frame,
embed,
object {
	max-width: 100%
}
body {
	font: 15px nunito, sans-serif;
	line-height: normal;
	padding: 0;
	margin: 0;
	color: var(--tt);
	background: #2e2f31;
	min-height: 100%;
	width: 100%;
	font-weight: 400;
	overflow-x: hidden
}
a {
	color: var(--tt);
	text-decoration: none
}
a:hover,
a:focus {
	color: var(--tt);
	text-decoration: none
}
h1,
h2,
h3,
h4,
h5 {
	font-weight: 600;
	font-size: 24px
}
::selection {
	background: red;
	color: #fff
}
b,
strong,
.bolder {
	font-weight: 600
}
button,
select,
textarea,
input[type=text],
input[type=password],
input[type=button],
input[type=submit] {
	appearance: none;
	-webkit-appearance: none;
	font-size: 16px;
	font-family: inherit
}
button,
.btn,
input[type=button],
input[type=reset],
input[type=submit],
.form__btn,
.qq-upload-button,
.pm__links a,
.usp__btn a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-align: center;
	padding: 0 20px;
	height: 40px;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: var(--accent);
	color: #fff;
	border-radius: 0;
	box-shadow: none
}
button:hover,
.btn:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.form__btn:hover,
.qq-upload-button:hover,
.pm__links a:hover,
.usp__btn a:hover {
	background-color: var(--accent-darker);
	color: #fff
}
button:active,
input[type=button]:active,
input[type=submit]:active {
	box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, .1)
}
.color-btn,
[class*=fr],
[class*=plyr],
[class*=owl-],
[id*=mceu] {
	padding: 0;
	margin: 0;
	line-height: normal;
	border: 0;
	box-shadow: none;
	background: 0 0;
	border-radius: 0
}
input[type=text],
input[type=password] {
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	padding: 0 15px
}
select {
	height: 40px;
	padding: 0 15px;
	display: block
}
select:not([multiple]) {
	background-image: url(../images/chevron.png);
	padding-right: 30px;
	background-repeat: no-repeat;
	background-position: right 15px top 50%;
	background-size: .6em auto
}
select option {
	padding: 6px 10px
}
select[multiple] {
	padding: 0 5px
}
textarea {
	padding: 15px;
	overflow: auto;
	vertical-align: top;
	resize: vertical
}
input[type=text],
input[type=password],
select,
textarea {
	width: 100%;
	background-color: #fff;
	color: #000;
	box-shadow: inset 0 0 0 1px #e3e3e3, inset 1px 2px 5px rgba(0, 0, 0, .1)
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
	box-shadow: inset 0 0 0 1px var(--accent), inset 1px 2px 5px rgba(0, 0, 0, .1)
}
input::placeholder,
textarea::placeholder {
	color: #000;
	opacity: .4;
	font-size: 13px
}
input:focus::placeholder,
textarea:focus::placeholder {
	color: transparent
}
.img-box,
.img-wide,
.img-responsive,
.img-fit-cover {
	position: relative
}
.img-responsive {
	padding-top: 60%
}
.img-responsive--portrait {
	padding-top: 150%
}
.img-box>img,
.img-responsive>img {
	width: 100%;
	min-height: 100%;
	display: block
}
.img-responsive>img {
	position: absolute;
	left: 0;
	top: 0
}
.img-wide img,
.img-wide>a {
	width: 100%;
	display: block
}
.img-fit-cover img {
	width: 100%;
	height: 100%;
	object-fit: cover
}
.clr {
	clear: both
}
.clearfix::after {
	content: "";
	display: table;
	clear: both
}
.ws-nowrap {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden
}
.vw100 {
	margin: 0 calc((100% - 100vw)/2);
	padding: 0 calc((100vw - 100%)/2)
}
.img-mask::before {
	content: '';
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 0;
	height: 70%;
	background: linear-gradient(to top, #000 0%, transpatent 100%);
	opacity: .6
}
.d-flex,
.fx-row,
#m-cont {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row
}
.fd-column,
.fx-col {
	flex-direction: column;
	flex-wrap: nowrap
}
.jc-space-between,
.fx-row {
	justify-content: space-between
}
.jc-flex-start,
.fx-start,
#m-cont {
	justify-content: flex-start
}
.jc-center,
.fx-center {
	justify-content: center
}
.jc-flex-end {
	justify-content: flex-end
}
.ai-flex-start {
	align-items: flex-start
}
.ai-center,
.fx-middle {
	align-items: center
}
.ai-flex-end {
	align-items: flex-end
}
.order-first {
	order: -1
}
.order-last {
	order: 10
}
.flex-grow-1,
.fx-1,
.stretch-free-width {
	flex: 1 1 0;
	max-width: 100%;
	min-width: 50px
}
.btn-icon,
.centered-content {
	display: inline-flex;
	justify-content: center;
	align-items: center
}
.icon-at-left [class*=fa-],
.icon-left .icon {
	margin-right: .5em
}
.icon-at-right [class*=fa-],
.icon-right .icon {
	margin-left: 10px
}
.hidden,
#dofullsearch,
.form__header .form__btn,
.comment-item__main .quote+br,
.d-none {
	display: none
}
.animated-element,
button,
.btn,
.page__rating-bar-progress,
.header__menu>li:hover .header__menu-hidden {
	transition: all .3s
}
#m-cont>*:not(.grid-item),
#m-cont {
	width: 100%
}
#m-cont,
.d-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-gap: 20px 10px;
	grid-auto-flow: row dense
}
@media (max-width: 600px) {
    #m-cont,
    .d-grid {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)); /* 将 260px 改为 130px */
    }
}
#m-cont>*:not(.grid-item) {
	grid-column: 1/-1
}
[data-src] {
	opacity: 0;
	transition: opacity .3s
}
[data-src].lazy-loaded {
	opacity: 1
}
@font-face {
	font-family: nunito;
	src: url(nunito-400.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap
}
@font-face {
	font-family: nunito;
	src: url(../fonts/nunito-600.woff2) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap
}
@font-face {
	font-family: nunito;
	src: url(../fonts/nunito-900.woff2) format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap
}