.wrapper{min-width:320px;position:relative}
.wrapper-container{max-width:var(--maximum-width);margin:0 auto;position:relative;z-index:20}
.wrapper-main{min-height:100vh}
.header{position:relative;z-index:100;padding-top:20px;padding-bottom:20px;color:#fff}
.nav{background-color:var(--bg-3);box-shadow:var(--bsh);position:relative;z-index:100;border-bottom:1px solid var(--bdc)}
.content{padding:20px;background-color:var(--bg);box-shadow:var(--bsh)}
.footer{background-color:#111;padding:30px 20px;border-top:1px solid var(--bdc);font-size:14px;line-height:1.5;color:var(--tt-2);box-shadow:var(--bsh)}
#scrolltop{position:fixed;width:60px;height:60px;line-height:60px;right:10px;bottom:10px;z-index:990;display:none;background-color:var(--bg-3);color:var(--tt-2);cursor:pointer;font-size:24px;border-radius:50%;text-align:center;box-shadow:0 2px 5px rgba(0,0,0,.2)}
.thumb video{opacity:0;z-index:2;left:0;top:0;position:absolute;width:100%}
.thumb .prev-video{opacity:1}
.logo{display:inline-flex;flex-direction:column;justify-content:center;font-weight:900;font-size:28px;height:50px;text-transform:uppercase;line-height:1;margin-right:40px;background:url(../images/logo.png) 0 center/80px no-repeat;padding-left:90px;color:var(--tt)}
.logo span{color:var(--accent)}
.logo__caption{font-size:10px;font-weight:600;letter-spacing:1px;color:var(--tt-2);text-transform:uppercase;margin-top:4px}
.header__logo .logo__title{color:#fff}
.header__menu>li{margin:0}
.header__menu>li>a{height:60px;font-weight:400;padding:0 18px;text-transform:uppercase;display:flex;align-items:center;font-weight:600;font-size:15px;border-right:1px solid rgba(0,0,0,.05)}
.header__menu-hidden{background-color:var(--bg);box-shadow:0 20px 20px rgba(0,0,0,.1);position:absolute;left:0;top:99%;padding:20px 80px 10px;padding-bottom:15px;z-index:50;width:100%;visibility:hidden;opacity:0;transform:translateY(30px)}
.header__menu>li:hover .header__menu-hidden{visibility:visible;opacity:1;transform:translateY(0px)}
.submenu>a:after{content:"\f107";font-weight:300;font-family:'FontAwesome';margin-left:10px}
li.submenu:hover>a:after{transform:rotate(-180deg) !important}
.nav .header__menu>li>a.is-active,.nav .header__menu>li.is-active>a,.nav .header__menu>li:hover>a{background:var(--accent);border-color:var(--accent);color:#fff}
.menu{column-width:220px;column-gap:40px;text-transform:uppercase;font-size:13px}
.menu li{margin-bottom:15px;break-inside:avoid;position:relative}
.menu li a{display:block;padding-right:30px;font-weight:600}
.menu li span{position:absolute;right:0;top:0;color:var(--tt-2);font-size:11px;pointer-events:none}
.menu li a:hover{text-decoration:underline}
.btn-categories{margin-bottom:20px;width:100%}
.header__search{position:relative;z-index:5}
.header__search input,.header__search input:focus{padding:0 100px 0 20px;border-radius:0;background:#4a4b4d;border:0;box-shadow:none;color:#fff;height:50px;line-height:50px;width:500px}
.header__search input:not(:focus)::placeholder{color:#999;opacity:1;font-size:15px}
.header__search button{position:absolute;z-index:5;right:0;top:0;padding:0 30px;background:#6f7072;color:#ddd;height:50px}
.header__login,.header__fav{font-size:24px;cursor:pointer;margin-left:20px;height:50px;width:50px;display:flex;align-items:center;justify-content:center;background-color:var(--bg-4);color:#fff}
.header__login:hover,.header__fav:hover{background:var(--accent);border-color:var(--accent);color:#fff}
.sect{margin-bottom:20px}
.sect__header{margin-bottom:20px}
.sect__title{font-size:22px;font-weight:600;text-transform:uppercase}
.sect__title .fal{margin-right:10px}
.sect__title span:not(.fal){color:var(--accent)}
.sect__sort{position:relative}
.sect__sort *{display:inline-block;vertical-align:middle}
.sect__sort a{text-transform:uppercase;font-weight:600;margin-left:20px;color:var(--tt-2);font-size:12px}
.sect__sort a::after{content:"\f107";font-weight:300;font-family:'FontAwesome';margin-left:10px;display:inline-block;position:relative;top:4px;font-size:24px}
.sect__sort .desc a::after{content:"\f106"}
.sect__sort li[class] a{color:var(--tt)}
.sorter{position:relative;cursor:pointer;height:36px;line-height:32px;margin-left:15px;padding:0 10px;background-color:var(--bg-3);display:block;border:1px solid var(--accent);font-size:14px}
.sorter:before{content:attr(data-label);display:inline-block;vertical-align:top}
.sorter>span{display:inline-block;vertical-align:top;margin-left:5px;color:var(--accent);font-weight:600}
.sorter form{display:none;background-color:var(--bg-3);padding:10px;line-height:26px;box-shadow:0 0 15px 0 rgba(0,0,0,.1);position:absolute;right:0;top:100%;width:160px;z-index:999;border-radius:4px}
.sorter a:hover{text-decoration:underline}
.sort li.asc a:after,.sort li.desc a:after{content:"\f063";font-family:"FontAwesome";display:inline-block;margin-left:10px;font-weight:300}
.sort li.desc a:after{content:"\f062"}
.sorter:hover{border-color:var(--accent)}
.sect__subtitle{font-size:24px;margin-bottom:40px}
.desc{display:grid;grid-gap:10px 0;margin-bottom:20px;line-height:1.5;color:var(--tt-2);background-color:var(--bg-2);padding:18px 20px;border:1px solid var(--bdc);font-size:14px}
.desc span{color:var(--accent)}
.desc h1,.desc h2,.desc h3{font-size:15px;text-transform:uppercase;font-weight:600;color:var(--tt);line-height:1.3}
.desc:last-child,.sect:last-child{margin-bottom:0}
.tags-list a{font-size:15px;text-transform:capitalize;color:var(--tt-2);display:inline-block;padding:3px 8px;margin:5px;background-color:var(--bg-3);font-weight:400;box-shadow:var(--bsh)}
.tags-list span{margin:0}
.tags-list a:hover{color:#fff;background-color:var(--accent);border-color:var(--accent)}
.speedbar{font-size:13px;margin-bottom:20px;background:var(--bg-5);padding:10px}
.speedbar a{color:var(--accent)}
.speedbar a:hover{text-decoration:underline}
.speedbar .fal{margin-right:5px}
.sect__tabs-content{background-color:var(--bg-5);padding:10px;margin-bottom:20px}
.sect--tabs .sect__title{cursor:pointer;margin-bottom:-20px;background-color:var(--bg-5);text-transform:uppercase;font-weight:600;padding:10px 20px;font-size:15px;color:var(--accent)}
.sect--tabs .sect__title.is-active{background-color:var(--accent);color:#fff}
.thumb{position:relative}
.thumb__desc{margin-top:10px;padding-right:10px}
.thumb__title{font-size:15px;font-weight:600;line-height:1.4;color:#d1e4e6}
.thumb__label{position:absolute;z-index:5;padding:0 6px;height:28px;display:flex;align-items:center;justify-content:center;white-space:nowrap;background-color:rgba(0,0,0,.2);color:#fff;font-size:12px;line-height:1}
.thumb__label-group{position:absolute;left:5px;bottom:5px;z-index:5}
.thumb__label--hd{position:static;text-transform:uppercase;background-color:rgba(34,166,179,.8);padding:0 10px}
.thumb__label--views{right:5px;top:5px}
.thumb__label--time{position:static;background-color:rgba(0,0,0,.6);padding:0 10px}
.thumb__rating{white-space:nowrap;right:5px;top:38px}
.thumb__meta .fal.fa-calendar-alt{color:var(--accent)}
.js-count-percent{opacity:0}
.thumb:hover .thumb__title{text-decoration:underline}
.footer__text a{color:var(--accent)}
.footer__counter{display:inline-block;margin-left:40px}
.pagination{text-align:center;font-weight:400;background-color:var(--bg-3);position:relative;padding:15px;box-shadow:var(--bsh)}
.pagination__pages a,.pagination__pages span{display:inline-block;margin:5px;line-height:30px;padding:0 6px;min-width:30px;font-size:12px}
.pagination__pages--full a,.pagination__pages--full span{line-height:30px;min-width:30px;font-size:14px}
.pagination__pages a:hover,.pagination__pages span:not(.nav_ext){background:var(--accent);color:#fff;border-color:var(--accent)}
.pprev{position:absolute;left:0;top:0;bottom:0}
.pnext{position:absolute;right:0;top:0;bottom:0}
.pbtn>*{display:flex;flex-direction:column;justify-content:center;background-color:var(--bg);height:100%;padding:10px 20px;text-transform:uppercase;font-size:13px;font-weight:600;text-align:center}
.pbtn div{color:var(--accent);margin-top:3px}
.pbtn .fal{font-size:24px;position:absolute;top:50%;transform:translateY(-50%)}
.pprev .fal{left:20px}
.pnext .fal{right:20px}
.pprev>*{padding-left:50px}
.pnext>*{padding-right:50px}
.page__player{background-color:#000}
.page__cols{display:grid;grid-template-columns:1fr 290px;grid-gap:20px 10px;margin-bottom:20px}
.page__col-left>h1{font-size:17px;font-weight:600;padding:9px 10px;background-color:var(--bg-5)}
.page__col-left>h1 a{margin-left:10px;font-size:14px}
.page__text.full-text{padding:20px 0;border:1px solid var(--bdc);border-left:0;border-right:0;box-shadow:0 1px var(--bg-5),inset 0 1px var(--bg-5)}
.page__meta{padding:0}
.page__meta-item{height:30px;display:flex;align-items:center}
.page__meta-item .fal{opacity:.6;margin-right:8px}
.page__meta-item--fav{cursor:pointer}
.page__meta-item--fav a{display:flex;align-items:center;height:30px}
.page__rating{position:relative;width:260px}
.page__rating a{background-color:#6ab04c;color:#fff;font-size:24px;display:block;width:50px;height:50px;text-align:center;line-height:50px}
.page__rating a+a{background-color:#eb4d4b;transform:scale(-1,1)}
.page__rating-bar{position:absolute;right:60px;left:60px;bottom:22px;height:5px;background-color:#aaa;overflow:hidden}
.page__rating-bar-progress{position:absolute;left:0;top:0;height:100%;width:0;background:#6ab04c}
.page__rating-likes{position:absolute;right:40px;left:40px;top:2px;text-align:center;font-weight:600}
.page__rating-likes i{font-style:normal}
.page__rating-likes span{color:var(--tt-2);margin-left:2px;font-size:12px;font-weight:400}
.page__rating-votes{position:absolute;right:40px;left:40px;bottom:3px;text-align:center;font-size:12px;white-space:nowrap}
.page__rating a:hover{background-color:var(--bg-4)}
.page__meta-item--fav:hover,.page__meta-item--fav a:hover{color:var(--accent)}
.page__tags{padding-top:10px;margin-bottom:-5px;font-size:0}
.page__tags-caption{font-size:15px;font-weight:600;padding:3px 0;margin:5px;margin-left:0}
.page__tags-item+.page__tags-item{margin-top:5px}
.side-block{background-color:var(--bg-5);margin-bottom:20px}
.side-block__title{padding:10px;border-bottom:1px solid var(--bdc);font-size:15px;font-weight:600;text-transform:uppercase}
.side-block__content{padding:10px}
.side-block__title span{position:relative;color:var(--accent);display:inline-block}
.side-block__title span::before{content:'';position:absolute;left:-10px;right:-10px;bottom:-11px;background-color:var(--accent);height:3px}
.popular{background-color:var(--bg-2);box-shadow:0 10px 20px rgba(0,0,0,.15)}
.popular__img{width:165px;height:100px}
.popular__desc{padding:10px;position:relative}
.popular__title{-webkit-line-clamp:3;font-size:13px;font-weight:600;line-height:1.3}
.popular:hover{background-color:var(--accent)}
.popular:hover .popular__title,.popular:hover .popular__meta{color:#fff}
.full-text{line-height:1.6;font-size:15px;word-wrap:break-word}
.full-text a{text-decoration:underline;color:#5278b1}
.full-text img:not(.emoji),.full-text p,.full-text h1,.full-text h2,.full-text h3,.full-text h4,.full-text h5,.full-text>ul,.full-text>ol,.full-text table,.page__title{margin-bottom:20px}
.full-text>img[style*=left],.full-text>.highslide img[style*=left]{margin:0 10px 10px 0}
.full-text>img[style*=right],.full-text>.highslide img[style*=right]{margin:0 0 10px 10px}
.full-text>ul li,.full-text>ol li{padding-left:60px;position:relative}
.full-text>ul li:before{content:'';width:8px;height:8px;border-radius:50%;border:3px solid #fac40c;position:absolute;top:4px;left:34px}
.full-text>ol{counter-reset:num}
.full-text>ol li:before{content:counter(num);counter-increment:num;background-color:#fac40c;color:#000;position:absolute;top:-2px;left:17px;width:24px;height:30px;font-size:14px;font-weight:600;display:flex;justify-content:flex-end;align-items:center;padding-right:6px;box-sizing:border-box}
.full-text>ol li:after{content:'';border:10px solid transparent;border-left-color:#fac40c;position:absolute;left:41px;top:-2px;transform:scale(.66,1.5);transform-origin:0 0}
.full-text>ul li+li,.full-text>ol li+li{margin-top:10px}
.full-text table,.video-inside>*{width:100%}
.full-text table tr td{padding:10px;border:2px solid #fff}
.full-text table tr:nth-child(2n+1){background-color:#f2f6f9}
.full-text table tr:nth-child(1){background-color:#cee0ed}
.full-text table img:not(.emoji){margin:0;max-width:350px}
.full-text>*:last-child{margin-bottom:0}
.video-responsive{padding-top:62%;position:relative}
.video-responsive>iframe,.video-responsive>video{position:absolute;left:0;top:0;width:100%;height:100%}
.full-text h1,.full-text h2,.full-text h3,.full-text h4,.full-text h5{font-size:22px}
.page__comments{margin:0}
.add-comments-form.form{padding:0;background:0 0;margin-bottom:20px}
.add-comments-form .form__input,.add-comments-form__input,.add-comments-form .form__textarea-inside textarea,.mass_comments_action select{box-shadow:inset 0 0 0 1px #e3e3e3;border-radius:0}
.add-comments-form__input{margin-left:20px}
.add-comments-form .d-none,.comments_subscribe+br{display:none}
.mass_comments_action{display:none;align-items:center;max-width:800px;white-space:nowrap;margin-bottom:20px}
.mass_comments_action select{flex:1 1 0;margin:0 -8px 0 20px}
.mass_comments_action .bbcodes{border-radius:0;padding:0 10px}
.page__comments-btn{cursor:pointer;position:relative;height:30px;line-height:30px;font-weight:600;padding:0 10px;font-size:14px;color:var(--accent);display:inline-block;background-color:rgba(0,0,0,.6);border:1px solid var(--bdc)}
.page__comments-btn:hover,.page__comments-btn.is-active{color:#000;background:var(--accent)}
.show-comms a{color:var(--accent);text-decoration:underline;margin-top:10px;display:inline-block}
.comment-item__title{font-weight:600;font-size:18px;margin-bottom:20px}
.comment-item{margin-bottom:20px}
.comment-item__img{width:40px;height:40px;border-radius:50%;margin-right:10px}
.comment-item__letter{width:100%;height:100%;text-transform:uppercase;font-weight:600;position:absolute;left:0;top:0;z-index:5;color:#fff;font-size:18px}
.comment-item__author{font-weight:400;font-size:14px}
.comment-item__date{color:var(--tt-2);margin-top:4px;font-size:12px}
.comment-item__main{margin:8px 0 0}
.comment-item__rating{white-space:nowrap;font-size:12px}
.comment-item__rating a{margin-left:6px}
.comment-item__rating a>span:first-child{color:#6ab04c;text-decoration:underline;margin-right:2px}
.comment-item__rating a:last-child>span:first-child{color:#eb4d4b}
.login{position:fixed;z-index:999;left:50%;top:50%;transform:translate(-50%,-50%);overflow:hidden;background-color:var(--ui-bg);border-radius:4px;width:400px;box-shadow:0 0 0 10px rgba(255,255,255,.2),0 15px 45px #000}
.login__header{padding:20px 40px;background-color:var(--ui-bg-darker)}
.login__title{font-size:20px;font-weight:600;padding:1px 0;text-transform:capitalize}
.login__close{cursor:pointer;font-size:24px;opacity:.6;margin-left:20px}
.login__title a{border-bottom:1px dotted var(--tt-2);margin-left:10px;font-weight:400;color:var(--tt-2)}
.login__content{padding:20px 40px}
.login__row{margin-bottom:20px;position:relative;display:block;font-size:14px;color:var(--tt-2)}
.login__caption{font-size:14px;color:var(--tt);margin-bottom:10px}
.login__caption a{text-decoration:underline;margin-left:6px;color:var(--accent)}
.login__input input{padding-left:40px}
.login__row .fal{opacity:.5;position:absolute;left:0;bottom:0;line-height:40px;width:40px;text-align:center}
.login__row button{width:100%}
.login__social{background-color:var(--ui-bg-darker);padding:20px 40px;text-align:center}
.login__social-caption{font-size:11px;text-transform:uppercase;margin-bottom:10px}
.login__social-btns a{display:inline-block;margin:0 3px;vertical-align:top}
.login__social-btns img{display:block;width:30px;height:30px;border-radius:50%}
.login__avatar{width:40px;height:40px;border-radius:50%;margin-right:10px}
.login__menu{padding-left:35px;padding-right:35px;margin-bottom:-10px}
.login__menu li{flex:1 1 0;min-width:auto;max-width:100%;margin:0 5px 10px}
.login__menu a{display:block;border-radius:6px;padding:10px;text-align:center;white-space:nowrap;background-color:var(--ui-bg-darker);box-shadow:inset 0 0 10px rgba(0,0,0,.1);font-size:13px}
.login__menu .fal{display:block;height:30px;font-size:24px;opacity:.3}
.overlay{position:fixed;z-index:998;left:0;top:0;width:100%;height:100%;opacity:.6;background-color:#000;cursor:pointer;display:none}
.mobile-menu{width:280px;height:100%;overflow-x:hidden;overflow-y:auto;background-color:var(--bg-3);padding:10px 20px;z-index:999;position:fixed;left:-320px;top:0;transition:left .4s}
.mobile-menu.is-active{left:0}
.mobile-menu-close{cursor:pointer;display:block;left:280px;top:-40px;position:fixed;z-index:999;width:40px;height:40px;line-height:40px;text-align:center;font-size:18px;opacity:0;background-color:#e84e36;color:#fff;transition:top .4s,opacity .4s}
.mobile-menu-close.is-active{top:0;opacity:1}
body.mobile-menu-is-opened{overflow:hidden;width:100%;height:100%}
.mobile-menu .header__menu{margin:0;padding:0;display:block}
.mobile-menu .header__menu>li{width:100%;margin:0;padding:0}
.mobile-menu .header__menu>li>a{height:40px;padding:0;border:0}
.mobile-menu .header__menu-hidden{width:100%;height:auto;display:block;position:relative;left:0;top:0;width:calc(100% + 40px);margin:5px -20px;padding:20px;padding-bottom:5px;opacity:1;visibility:visible;transform:none}
@media screen and (max-width:1220px){body{background-image:none}
.wrapper{padding:0;overflow:hidden}
.wrapper-container{max-width:1000px}
.header{padding-left:20px;padding-right:20px}
.nav,.sect__sort,.header__fav,.pprev,.pnext{display:none}
.header__btn-menu{cursor:pointer;display:block;font-size:30px;margin-left:20px}
.header__login{font-size:16px;margin-left:20px}
.header__search input,.header__search input:focus{width:100%}
.header__search{display:block}
.logo{margin-right:20px}
.page__cols{grid-template-columns:1fr;display:block}
.page__col-right{display:none}
.popular__img{width:130px}
}@media screen and (max-width:950px){.wrapper-container{max-width:768px}
.header__logo{flex:1 1 0;min-width:100px;max-width:100%;margin-right:0}
.header__search{order:10;min-width:100%;margin:0;margin-top:20px}
.footer{display:block;text-align:center}
.footer__text{margin:20px 0}
.footer__counter{margin:0}
.logo{margin:0}
#scrolltop{width:40px;height:40px;line-height:40px;font-size:18px}
}@media screen and (max-width:760px){.wrapper-container{max-width:640px}
.page__player,.page__col-left>h1{margin-left:-20px;margin-right:-20px}
.page__meta-item--date,.page__meta-item--views,.page__meta-item--duration{margin:10px 0;order:10;font-size:13px}
.page__meta-item--fav{font-size:0;margin:10px 0;order:10}
.page__meta-item--fav .fal{font-size:18px;margin:0}
.page__rating{width:calc(100% + 40px);order:1;margin:0 -20px}
.sect--tabs .sect__title{padding:10px 0;flex:1 1 0;text-align:center;white-space:nowrap}
.sect--tabs .sect__title .fal{display:none}
.page__text .quote{margin-left:-20px;margin-right:-20px;padding-right:20px}
.full-text h1,.full-text h2,.full-text h3,.full-text h4,.full-text h5{font-size:18px}
.add-comments-form__input{min-width:100%;margin:0 0 10px}
.add-comments-form__btn{width:100%;order:10}
.add-comments-form .form__row--protect .form__caption{width:100%;margin:0 0 10px}
.mass_comments_action,.comment-item__controls,.comment-item__rating-caption{display:none}
}@media screen and (max-width:590px){.wrapper-container{max-width:480px}
.login{max-width:90%;max-height:90%;overflow-x:hidden;overflow-y:auto}
.login__header,.login__content,.login__social,.pages-bg{padding-left:20px;padding-right:20px}
.header__logo{font-size:24px;white-space:nowrap;padding-left:0;background-image:none}
.header__logo .logo__title{overflow:hidden;text-overflow:ellipsis}
.header__logo .logo__caption{font-size:10px;font-weight:400;letter-spacing:normal;overflow:hidden;text-overflow:ellipsis}
}@media screen and (max-width:470px){.wrapper-container22{max-width:360px}
}