html, body {
	height: 100%;
	font-family: Microsoft JhengHei !important;
}

td {
	vertical-align: middle !important;
}

.title {
	margin-top: 0;
	font-weight:bold;
}

.snippet {
	margin: 10px 0;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.navbar-brand {
	color: white !important;
}

.wrap>.container {
	padding: 0px 5px 20px;
}

.navbar-nav {
	
}

.footer {
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #c55;
	font-style: italic;
}

h4.media-heading a {
	font-size: 16px;
}

h4 {
	
}

.nav>li {
	position: relative;
}

.pagination a, .pagination span {
	padding: 10px 15px !important;
}

.pagination {
	margin: auto;
}

.menu {
	margin-right: 0px !important
}

.menu>li {
	display: inline-block !important;
}

.menu>li>a {
	
}

.second-menu {
	margin: 0 !important;
	font-size: 120%;
}

.second-menu i {
	display: none;
}

.second-menu a {
	/*! color: #f48080 !important; */
}

.module-menu a {
	padding: 10px !important;
}

@media ( max-width : 500px) {
	.menu>li>a {
		
	}
	.nav>li {
		position: relative;
	}
}

.icon-bar {
	background-color: white !important;
}

.pagination {
	margin: 0 0 10px 0 !important;
}

#videoPlayer {
	display: block;
	width: 100%;
}

.bottom-10 {
	margin-bottom: 10px !important;
}

.bottom-5 {
	margin-bottom: 5px !important;
}

.black {
	background: black;
}

.media-image {
	position: relative;
	border: 0px solid #888;
    height: 120px;
}

.imagelabel {
	background-color: rgba(0, 0, 0, 0.5);
	color: #ddd;
	padding: 0px 5px;
	font-size: 80%;
	position: absolute;
}

.imagelabel-bottom-left {
	bottom: 0px;
}

.imagelabel-bottom-right {
	right: 0px;
	color: yellow;
	bottom: 0;
}

.imagelabel-bottom-center {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
}

.editable {
	padding: 5px 1px;
}

.contenteditable {
	border: 1px dashed white;
	background-image: url("../images/edit.png")/*tpa=http://www.whichav.net/edit.png*/;
	background-repeat: no-repeat;
	background-position: right bottom;
}

#favoriteBtn {
	
}

#node-content {
	font-size: 120%;
}

#gallery-content img {
	margin: 30px auto;
}

#videoPlayer {
	width: 100%;
	margin: auto;
	background: black;
}

.msg {
	font-size: 200%;
	background: black;
	color: white;
	padding: 30px 10px;
	height: 100%;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.breadcrumb {
	margin-bottom: 10px !important;
}

.modal-backdrop.fade.in {
	z-index: -1;
}

iframe {
	z-index: 0 !important;
}

@media ( max-width : 800px) {
	.first-menu span {
		display: none;
	}
	#main-content {
		margin: 0 -10px;
	}
}

.player-ads {
	bottom: 50px !important;
	position: absolute !important;
	width: 100%;
}

.block {
	border-bottom: 0px;
	margin-bottom: 10px;
	color: #000;
	border: 1px solid #000;
	background: #1C1E22;
}

.block:hover {
	box-shadow: 1px 1px 3px #000;
}

.block-header {
	background-color: #f8f8f8;
}

.block-inner {
	padding: 1px 0;
}

.block-inner2 {
	padding: 8px;
}

.block-one-line {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.block-title {
	height: 52px;
	overflow: hidden;
	line-height: 22px;
	font-size: 15px;
	padding: 5px;
}

.block-layer img {
    width: 270px;
	height: 145px;
}

.category-list li {
	margin-left: 0 !important;
}

.category-list a {
	padding: 5px 6px !important;
	margin: 0px;
}

.ads-728x90 {
	width: 728px;
	height: 90px;
}

.ads-300x250 {
	width: 300px;
	height: 250px;
}

.ads-300x100 {
	width: 300px;
	height: 100px;
}

.ads {
	display: block;
	margin: auto;
	position: relative;
}

.ads i {
	position: absolute !important;
	top: -15px;
	left: -15px;
	font-size: 30px !important;
	text-shadow: 2px 2px 4px black, 2px -2px 4px black, -2px 2px 4px black,
		-2px -2px 4px black;
	color: #fff;
	cursor: pointer;
	padding: 0px;
	margin: -0px;
	cursor: pointer;
}

.ads-300x50 {
	text-align: center;;
}

.avatar {
	border-radius: 100%;
	width: 48px;
	height: 48px;
}





.toplinks a {
    cursor: pointer;
    color: inherit;
    display: inline-block;
    border: 2px solid #f4ff00;
    background: #ff0101;
    color: #fff !important;
    padding: 3px 5px;
    margin: 3px;
}
.bottomlinks a{
    background: #000;
}




.navnav  h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
  margin: 5px auto 5px;
}

.navnav a {
  cursor: pointer;
  color: inherit;
  display: inline-block;
  color: #fff !important;
  font-size: 14px;
  padding: 5px 7px;
  margin: 5px;
}

.nav1 a {
  border: 2px solid #39f9db;
  background: #7118ff;
}

.nav2 a {
  border: 2px solid #e6ff16;
  background: #ff0101;
}

.photo-two {
    display: inline-block;
    margin: 10px;
    text-align: center;
    width: 58px;
}

.photo-two a {
    line-height: 12px;
}

.photo-two img {
    border-radius: 12%;
    height: 60px;
    width: 60px;
    margin-bottom: 5px;
}

.photo-name {
    font-size: large;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: small;
}






.wap{
    display: none;
}

@media screen and (max-width:750px){
.wap{
    display: inline-block;
}

.block-layer img {
    max-width: 100%;
	height: 100%;
	overflow: hidden;
}


}


 @media screen and (max-width: 640px){
.search-cloud1 {
    padding: 0px 10px;
}}
.search-cloud1 a {
    display: inline-block;
    padding: 1px 1px 1px;
    margin-bottom: 1px;
}
.search-cloud1 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
}


.second-menu {
    margin: 0 !important;
    font-size: 120%;
}

.txtgg{width: 100%;overflow: hidden;display: block;box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);margin: 10px 0;}
.txtgg a{width: 12%;float: left;border-radius: 3px;line-height: 40px;height: 40px;text-align: center;font-size: 14px;color: #fff;display: inline-block;background-color: #bc15ba;margin: 1px;transition-duration: .3s;}
.txtgg a:hover{background:#bc15ba;color:#FFF}

.txtgg2 a{background-color: #314ea4;color: #fff}
.txtgg2 a:hover{background:palevioletred;color:#fff}
@media screen and (max-width: 960px) {.txtgg a{width: 24.3%;float: left;border-radius: 3px;line-height: 36px;height: 36px;text-align: center;font-size: 13px;color: #fff;display: inline-block;background-color: #bc15ba;;margin: 1px;transition-duration: .3s;}

.txtgg2 a{background:#314ea4;}
}


.hf{
	margin: 15px 0;
}